# Ignore Visual Studio folder
.vs/

# Python cache
__pycache__/
*.pyc

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env

# VS Code / Visual Studio settings
.vscode/
*.user
*.pyproj.user

# OS-specific files
.DS_Store
Thumbs.db
